body{
    background-color: bisque;
    font-family: bai sainjuree;
}

footer{
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0,6rem;
}